{{ define "signup" }}
{{ template "header" . }}

<div class="container">
	<div class="page-header">
		<h1><a href="/"><img src="/assets/images/buck.png"></a> Sign up</h1>
	</div>
	<p class="lead">Enter a username and password to signup.</p>

	<div class="row">
		<form action="/signup/" method="POST">
			<div class="col-md-6">
				<label for="email">Email</label>
				<input type="text" class="form-control" name="email" placeholder="Email" autofocus required>
				<br>
				<label for="name">Name</label>
				<input type="text" class="form-control" name="name" placeholder="Name" required>
				<br>
				<label for="password">Password</label>
				<input type="password" class="form-control" name="password" placeholder="Password" required>
				<br>
				<button class="btn btn-success pull-right" type="submit">Login</button>
			</div>
			<div class="col-md-6" id="copy_col" style="display:none;">
			</div>
		</form>
	</div>
</div>
{{ template "footer" }}
{{ end }}
